<div class="uk-container uk-padding">
  <h2 class="title"><%= t("point_of_sale.edit") %></h2>


  <%= render 'form_edit', point_of_sale: @point_of_sale %>

  <%= link_to t('point_of_sale.show'), @point_of_sale %> |
  <%= link_to t('point_of_sale.back'), point_of_sales_path %>
</div>
