<% if flash[:danger] %>
  <div class="uk-alert-danger" uk-alert>
    <a class="uk-alert-close" uk-close></a>
    <p><%= flash[:danger] %></p>
  </div>
<%end %>

<h1>Editing Point Of Sale</h1>


<%= render 'form_edit', point_of_sale: @point_of_sale %>

<%= link_to t("recipe.action.back"), show_producer_path(current_user.id) %>
