<div class="uk-container uk-padding">
  <h2 class="title"><%= t('point_of_sale.new') %></h2>

  <%= render 'form', point_of_sale: @point_of_sale %>

  <%= link_to t('point_of_sale.back'), point_of_sales_path %>
</div>
