<div class="uk-container uk-padding">
    <h2 class="title"><%= t('notebook.edit_name', :name => @notebook.title) %></h2>
    <div class="uk-align-center">
      <%= render 'form', notebook: @notebook %>
    </div>
</div>
