<div class="uk-container uk-padding">
    <h2 class="title"> Création d'un carnet de recettes</h2>
    <div class="uk-align-center">
      <%= render 'form', notebook: @notebook %>
    </div>
</div>

