<%= render 'landing_pages/shared/navbar' %>
<div class="uk-section uk-section-large uk-section-secondary">
  <div class="uk-container uk-text-justify">
    <h2 class="landing-title uk-margin">Mentions légales</h2>

    <h3>INFORMATIONS SUR L'ÉDITEUR DU SITE</h3>
    <p>
      Le site <a href="http://www.recipy.fr/">recipy.fr</a> est édité par RECIPY (<a href="https://github.com/recipyhq">https://github.com/recipyhq</a>)<br>
      Recipy est un projet scolaire dans le cadre des EPITECH INNOVATE PROJECT E.I.P<br>
      Le directeur de la publication est : Monsieur Guillaume CAUCHOIS - <a href="mailto:guillaume.cauchois@epitech.eu">guillaume.cauchois@epitech.eu</a><br>
      L’hébergeur du site est la société Heroku Inc., 650 7th Street, San Francisco, CA<br>
    </p>

    <h3>COPYRIGHT</h3>
    <p>Toute reproduction ou copie des contenus présents sur le site (notamment des recettes) à des fins autres qu'un usage privé n'est possible qu'après autorisation écrite des gestionnaires du site.</p>
    <ul>
      <li>Photos: Unsplash (<a href="https://unsplash.com/">https://unsplash.com/</a>)</li>
    </ul>

    <h3>RESPONSABILITÉ QUANT AU CONTENU</h3>
    <p>RECIPY dégage toute responsabilité quant à l'origine des recettes. Les gestionnaires du site ne pourront en aucun cas être tenus responsables du contenu rentré en ligne. Le seul engagement que nous prenons est de ne publier aucun contenu offensant, injurieux ou sans rapport avec le thème du site.</p>
    <p>Si par mégarde, l'une des recettes rentrées est spécifiquement protégée par un copyright, nous l'enverrons de notre base, mais dégageons toute responsabilité quant aux droits la concernant.</p>
    <p>RECIPY ne peut en aucun cas être considéré comme responsable du résultat d'une des recettes présentes sur le site. Celles-ci sont données à titre indicatif et il est de la responsabilité des utilisateurs de ces recettes de veiller à ce qu'aucun risque ne résulte de la préparation ou de la consommation des produits en résultant.</p>

    <h4>Vidéos & Images</h4>
    <p>Lorsque l’internaute poste un contenu vidéo sur notre plateforme de partage de recettes en vidéo, avec une musique, un logo ou tout autre donnée, c’est qu’il en possède les droits, et pourra en attester en cas de vérifications ou de réclamations.</p>
    <p>En utilisant le service vidéo et d’image de Recipy :</p>
    <ul>
      <li>vous reconnaissez être détenteur des droits sur cette vidéo ou de cette image : sont interdits, à titre d'exemple, publicités, extraits de films, moments de télé, image issues d’un autre service de partage de recette etc.</li>
      <li>vous êtes responsable du contenu de la vidéo, et en assumez les conséquences communautaires (bannissement) et pénales. Sont interdits, à titre d'exemple, les contenus à caractère obscène, pornographique, raciste, violent, etc.</li>
      <li>vous autorisez Recipy à publier cette vidéo sur le site de RECIPY ainsi que sur les réseaux sociaux (Facebook, Twitter, Instagram, etc…)
      </li>
    </ul>

    <h4>Protection des enfants</h4>
    <p>Les internautes, et en particulier les parents de jeunes enfants, sont responsable de la navigation sur internet de leurs enfants. Recipy se retire de toute responsabilité en cas de visionnage de contenu choquant par le jeune public.</p>
    <h5>Acccès des mineurs aux espaces communautaires :</h5>
    <p>L'accès par un mineur à ces espaces communautaires se fait avec l'autorisation du ou des titulaires de l’autorité parentale.</p>
    <p>Toute l’équipe de RECIPY a à coeur de protéger les internautes et tout spécialement les plus jeunes. Nous vous recommandons par conséquent la plus grande vigilance lorsque vous utilisez les services communautaires.</p>
    <p>Ainsi nous mettons à votre disposition un système vous permettant de contacter le modérateur du site immédiatement :</p>
    <ul>
      <li>en cliquant ici, <a href="mailto:recipyhq@gmail.com">recipy_2020@labeip.epitech.eu</a></li>
    </ul>
    <p>Vous pouvez signaler au modérateur tout comportement ou propos non-conformes aux présentes Règles de bonne conduite ou pouvant présenter tout caractère de danger pour les internautes (et tout particulièrement pour les mineurs) dont vous seriez victime ou témoin.</p>
    <p>Notamment :</p>
    <ul>
      <li>Des propositions ou des contenus (images, propos) à caractère sexuel ou pornographique,</li>
      <li>Un comportement suicidaire ou des propos d’un(e) internaute exprimant une détresse ou une situation pouvant mettre ses jours en danger,</li>
      <li>Des propos exprimant une volonté de commettre un acte illégal ou dangereux,</li>
      <li>Des propos faisant l’apologie de comportements à risque, illégaux ou non conformes aux Règles de bonne conduite.</li>
    </ul>

    <p>Une fois alerté, le modérateur pourra prendre toutes les mesures qu’il estimera nécessaires pour prévenir le renouvellement de ces comportements et pourra notamment bannir leurs auteurs.</p>
    <p>Le modérateur pourra également être amené à transmettre aux autorités compétentes les informations signalées.</p>
    <p>Vous pouvez également signaler tout contenu ou comportement illicite à l’adresse suivante: <a href="https://www.internet-signalement.gouv.fr/">www.internet-signalement.gouv.fr</a></p>

  </div>
</div>
<%= render 'landing_pages/shared/footer' %>
