<%= render 'landing_pages/shared/navbar' %>
<div class="uk-section uk-section-large uk-section-secondary">
  <div class="uk-container uk-text-justify">
    <h2 class="landing-title uk-margin">Politique de confidentialité</h2>
    <p class="uk-text-baseline">Mise à jour le 20/02/2019</p>
    <h3>Sommaire</h3>
    <ul>
      <li><a href="#p1">Définitions et périmètre</a></li>
      <li><a href="#p2">Identité et coordonnées du responsable de traitement et du délégué à la protection des données</a></li>
      <li><a href="#p3">Comment collectons-nous vos Données Personnelles ?</a></li>
      <li><a href="#p4">Quelles informations collectons-nous ?</a></li>
      <li><a href="#p5">Pour quelles finalités collectons-nous vos Données ?</a></li>
      <li><a href="#p6">Durant combien de temps vos Données Personnelles sont-elles conservées ?</a></li>
      <li><a href="#p7">Qui a accès à vos Données Personnelles ?</a></li>
      <li><a href="#p8">Vos choix concernant la personnalisation des contenus, la publicité ciblée et la prospection par courrier électronique</a></li>
      <li><a href="#p9">Transfert de vos Données Personnelles</a></li>
      <li><a href="#p10">Vos droits​</a></li>
    </ul>


    <p>La Politique de Protection des Données est destinée à vous informer de la politique menée par RECIPY en matière de protection des données à caractère personnel et des droits relatifs à la protection des données à caractère personnel dont vous disposez.</p>
    <p>​En utilisant nos Services, Sites et/ou Applications, vous déclarez accepter les termes de la présente Politique de Protection des Données. Si vous êtes en désaccord avec l’un de ses termes, vous êtes libres de ne plus utiliser nos Services, Sites et/ou Applications et de demander la suppression de vos données personnelles par les biais explicités ci-après.</p>

    <h3 id="p1">​1. Définitions et périmètre</h3>
    <h4>1.1. Définitions</h4>
    <p>
      <b>« Application »</b> : désigne le(s) service(s) de communication au public en ligne, édité(s) par RECIPY, accessible(s) par un Utilisateur via l’interface préalablement téléchargée sur le Play Store® d’Android et/ou l’App Store® d’Apple. L’(es) Application(s) permet(tent) d’accéder au(x) Service(s).
    </p>
    <p>
      <b>« Compte Utilisateur »</b> : désigne un espace réservé à l'Utilisateur accessible après inscription sur nos Services via un identifiant (adresse email) et un mot de passe confidentiel, et permettant notamment (i) d'accéder à certains Contenus présents sur les Services et/ou (ii) de participer à des jeux-concours et/ou (iii) de participer à un Marmitest et/ou (iv) de profiter d’autres fonctionnalités réservées aux inscrits.
    </p>
    <p>
      <b>​« Cookie(s) »</b> : couvre l’ensemble des fichiers texte non-exécutables, traceurs, balises web et autres technologies, telles que les GIFs transparents, GIFs clairs ou web-bug, déposés sur le navigateur du terminal (ordinateur, tablette, smartphone, etc.) par RECIPY, les Sous-traitants ou par des Partenaires, sous réserve du consentement donné par l’Utilisateur, lors de la poursuite de la navigation au sein des Services via les Sites et/ou Applications. Les informations contenues dans ce fichier ne peuvent être lues et/ou modifiées que par leur émetteur.
    </p>
    <p><b>​« Donnée(s) de Navigation »</b> : désigne toutes les données qui se rapportent à un terminal à un instant donné, même si nous ne savons pas directement quel terminal vous utilisez, ni qui vous êtes à un instant donné. Au titre des Donnée(s) de Navigation collectée(s), les données suivantes peuvent être collectées :</p>
    <ul>
      <li>
        L’identification et le contenu d’un fichier cookie stocké par nos soins/par nos Partenaires dans votre terminal ;
      </li>
      <li>
        L’adresse IP du terminal connecté au(x) Service(s) ;
      </li>
      <li>
        La date et l’heure et la durée de connexion d’un terminal à un élément de(s) Service(s) ;
      </li>
      <li>
        L’adresse Internet de la page de provenance du terminal accédant au(x) Service(s) ;
      </li>
      <li>
        Le type de système d’exploitation du terminal (ex : Windows, MacOs, Linux, Unix, BeOS, etc.)
      </li>
      <li>
        Le type et la version du logiciel de navigation utilisé par le terminal (Internet Explorer, Firefox, Safari, Chrome, Opera, etc.) ;
      </li>
      <li>
        Les possibles erreurs de téléchargement ;
      </li>
      <li>
        La langue d’utilisation du logiciel de navigation utilisé par le terminal.
      </li>
    </ul>
    <p>
      <b>« Donnée(s) Personnelle(s) »</b> : désigne toute information se rapportant à une personne physique identifiée ou identifiable, directement ou indirectement, notamment par référence à un identifiant, tel qu’un nom, un numéro d’identification, un identifiant en ligne, etc. Concernant nos Services, « Données Personnelles » désigne toutes les données qui se rapportent à vous seul à un instant donné, indépendamment du terminal que vous utilisez.
    </p>
    <p>
      <b>« RECIPY »</b> : désigne le collectif en charge de l’organisation RECIPY, le projet
    </p>
    <p>
      <b>« Partenaire(s) »</b> : désigne toute société, autre qu’un Sous-Traitant, sélectionnée par les soins de RECIPY, avec laquelle elle a contractualisé, afin d’encadrer la mise à disposition et la protection des Données Personnelles.
    </p>
    <p>
      ​<b>« Service(s) »</b> : désigne tout service de communication au public en ligne et/ou contenus mis à disposition par RECIPY.
    </p>
    <p>
      <b>« Site(s) »</b> : désigne le(s) service(s) de communication au public en ligne, édité(s) par RECIPY, accessible(s) par un Utilisateur via son terminal de connexion et localisé(s) à l’/aux adresse(s) URL mentionnée(s) ci-dessus et/ou à toute autre adresse qui viendrait s'y ajouter ou s'y substituer. Le(s) Site(s) permet(tent) d’accéder au(x) Service(s).
    </p>
    <p>
      <b>« Sous-Traitant(s) »</b> : désigne toute société qui peut être amenée à traiter des Données Personnelles ou des Données de Navigation, pour le compte de RECIPY, conformément aux instructions données par RECIPY.
    </p>
    <p>
      <b>« Utilisateur »</b> : désigne toute personne physique, accédant aux Services, Sites et/ou Applications, à titre non professionnel et non commercial.
    </p>

    <h4>1.2. Périmètre</h4>
    <p>La Politique de Protection des Données s’applique à tout Utilisateur des Services suivants :</p>
    <ul>
      <li>RECIPY, accessible à l’URL suivant : <a href="http://www.recipy.fr/">http://www.recipy.fr/</a></li>
      <li>Application Recipy, disponible sur le Play Store® d’Android et/ou l’App Store® d’Apple</li>
      <li>Abonnement à la newsletter de RECIPY</li>
    </ul>
    <p>La Politique de Protection des Données ne s'applique ni aux sites de nos Partenaires, ni aux pratiques des sociétés tierces RECIPY et sur lesquelles RECIPY n'exerce aucun contrôle.</p>

    <h3 id="p2">2. Identité et coordonnées du responsable de traitement et du délégué à la protection des données</h3>
    <h4>2.1 Identité et coordonnées du responsable de traitement</h4>
    <p>
      RECIPY, <a href="mailto:recipyhq@gmail.com">recipyhq@gmail.com</a>
    </p>
    <h4>2.2. Coordonnées du délégué à la protection des données</h4>
    <p>
      Le délégué à la protection des données de la société RECIPY est joignable à <a href="mailto:guillaume.cauchois@epitech.eu">guillaume.cauchois@epitech.eu</a>
    </p>

    <h3 id="p3">3. Comment collectons-nous vos Données Personnelles ?</h3>
    <p>Nous collectons et traitons vos Données Personnelles grâce à votre consentement, pour exécuter le contrat conclu avec vous (acceptation des Conditions Générales d’Utilisation de nos Services), et sur la base de notre intérêt légitime.</p>
    <p>​Lors de la création d’un Compte Utilisateur ou de la souscription de certains services accessibles sur nos Sites et/ou Applications (tels qu’un jeu-concours, une inscription à une newsletter, etc.), vous êtes informé de la collecte et du traitement des Données Personnelles vous concernant grâce à une mention d’information.</p>
    <p>​De plus, vous consentez à la collecte et au traitement de vos Données Personnelles, selon les modalités précisées ci-après, grâce à l’acceptation de la présente Politique de Protection des Données, accessible sur le formulaire de collecte de vos Données Personnelles.</p>

    <h3 id="p4">4. Quelles informations collectons-nous ?</h3>
    <h4>4.1 Les Données Personnelles collectées directement auprès de vous :</h4>
    <p>Parmi les Données Personnelles collectées directement auprès de vous, lors de l’inscription ou de l’utilisation des Services, nous pouvons collecter les données suivantes :</p>
    <ul>
      <li>Nom, prénom, sexe, adresse email, code postal, âge, adresse, ville, code postal</li>
      <li>Nom(s) d’utilisateur, pseudonyme(s) et mot(s) de passe ;</li>
      <li>Intérêts et préférences en matière de prospection commerciale ;</li>
      <li>Données médicales : Liste des allergènes alimentaires</li>
      <li>Commentaires, avis sur nos Services, Sites et/ou Applications ;</li>
      <li>Goûts alimentaires</li>
    </ul>
    <p>Lors de votre navigation sur nos Sites et/ou Applications, nous sommes susceptibles de recueillir, conformément à la législation applicable en vigueur et avec votre consentement, des Données de Navigation. Pour recueillir ces informations, nous avons recours aux cookies.</p>
    <h4>4.2 Les Données Personnelles collectées indirectement :</h4>
    <p>De plus, nous pouvons collecter des Données Personnelles, de manière indirecte, auprès de tiers, notamment lorsqu’il vous est proposé de vous créer un Compte Utilisateur, en associant votre compte Facebook.</p>
    <p>Dans le cadre de votre demande de connexion, au moyen d’identifiants de réseaux sociaux tiers (Facebook), certaines Données Personnelles que vous avez communiquées à ces réseaux sociaux peuvent nous être transmises par les éditeurs de ces services tiers, conformément aux conditions générales d’utilisation du réseau social concerné. Ces Données Personnelles peuvent être, non limitativement, vos nom, prénom, adresse email, code postal, les mentions « j’aime », etc. Vous êtes invité, lors de la mise en relation avec votre Compte Utilisateur, à prendre connaissance et à paramétrer les restrictions, apportées à la transmission des Données Personnelles vous concernant.</p>
    <p>​Nous nous engageons à respecter les règles de confidentialité que vous avez définies, lors de votre inscription sur les réseaux sociaux tiers et que vous pouvez modifier à tout moment sur ceux-ci. Les Données Personnelles que vous nous fournissez, au moyen de vos identifiants de réseaux sociaux tiers (Facebook), dans le cadre de la création d’un Compte Utilisateur ne sont pas communiquées aux éditeurs de ces services tiers.</p>

    <h3 id="p5">5. Pour quelles finalités collectons-nous vos Données ?</h3>
    <p>Les Données Personnelles que nous collectons directement auprès de vous, notamment lors de la création d’un Compte Utilisateur ou de l’utilisation de nos Services, peuvent être traitées pour les finalités suivantes :</p>
    <ul>
      <li>Effectuer une génération de menu, planning de repas sur mesure en utilisant votre profil de goûts alimentaires ainsi que vos allergies alimentaires</li>
      <li>Effectuer des opérations de gestion concernant les commandes et réservations chez nos producteurs le suivi de cette relation client.</li>
      <li>Vous envoyer, conformément aux dispositions légales applicables et avec votre consentement, lorsque la législation l’exige :</li>
      <li>
        <ul>
          <li>Des messages marketing, publicitaires et promotionnels sur nos Services, Sites et/ou Applications ou ceux de nos Partenaires auxquels nous avons pu communiquer les Données Personnelles vous concernant ;</li>
          <li>Des informations relatives à l’utilisation, l’actualité, les évolutions de nos Services, Sites et/ou Applications ;</li>
          <li>Vous suggérer et vous conseiller des contenus, produits ou services susceptibles de vous intéresser grâce à l’établissement de profils des Utilisateurs.</li>
        </ul>
      </li>
    </ul>
    <p>Les Données de Navigation que nous collectons lors de l’utilisation de nos Services, peuvent être traitées pour les finalités suivantes :</p>
    <ul>
      <li>De manière globale vous permettre de naviguer et consulter nos Sites et/ou Applications, adapter le contenu ou l’affichage de nos Services à votre terminal pour améliorer votre navigation et optimiser nos Sites et/ou Applications ;</li>
      <li>Mémoriser des informations relatives à un formulaire déjà rempli (ex: votre Compte Utilisateur) ou relatives à des produits, services ou informations de nos Services (ex : contenus consultés, etc.) ;</li>
      <li>Personnaliser nos contenus en fonction de vos centres d’intérêts; </li>
      <li>Établir des statistiques et mesures d’audience sur la fréquentation de nos Sites et/ou Applications ;</li>
      <li>Vous permettre d’effectuer des partages sur les réseaux sociaux ;</li>
      <li>Évaluer l’efficacité des messages publicitaires que nous adressons ;</li>
      <li>Assurer la sécurité de nos Services, Sites et/ou Application en détectant/retraçant toute tentative de malveillance/intrusion informatique;</li>
      <li>Remplir nos obligations légales, répondre aux éventuelles demandes de tiers habilités par la loi à nous demander de communiquer des Données de Navigation et/ou des Données Personnelles d’Utilisateurs de nos Services.</li>
    </ul>

    <h3 id="p6">6. Durant combien de temps vos Données Personnelles sont-elles conservées ?</h3>
    <h4>6.1. À l’exception des catégories de Données Personnelles visées à l’articles 6.2, vos Données Personnelles sont conservées pour les durées suivantes :</h4>
    <ul>
      <li>Un (1) an après la clôture de votre Compte Utilisateur ou de la fin de la relation contractuelle le cas échéant ;</li>
      <li>Trois (3) ans après votre dernière utilisation de nos Services, Sites et/ou Applications, si vous n’avez pas fermé votre Compte Utilisateur (compte inactif) ;</li>
    </ul>
    <h4>6.2. Les Données de Navigation sont conservées pour une durée de treize (13) mois à compter de la collecte.</h4>

    <h3 id="p7">7. Qui a accès à vos Données Personnelles ?</h3>
    <p>Peuvent avoir accès à vos Données Personnelles :</p>
    <ul>
      <li>L’éditeur du Service, en tant que responsable de traitement pour les Services </li>
    </ul>
     <p>Au sein de RECIPY, seuls certains de nos collaborateurs ont accès vos Données Personnelles, uniquement en cas de besoin et ils sont soumis à une stricte obligation de confidentialité.</p>
    <ul>
      <li>Les Sous-Traitants, auxquels nous faisons appel en matière de prestations techniques, services de paiement, fournisseurs de solutions analytiques, etc. ;</li>
      <li>Des tiers, dans des cas limités encadrés par la loi, tels que notamment les autorités judiciaires et/ou administratives, votre fournisseur d’accès à Internet.</li>
    </ul>

    <h3 id="p8">8. Vos choix concernant la personnalisation des contenus, la publicité ciblée et la prospection par courrier électronique</h3>
    <h4>8.1. Expérience personnalisée de l’Utilisateur</h4>
    <p>Nous vous informons que vos Données Personnelles sont susceptibles de faire l’objet de deux types d’opérations de traitement :</p>
      <ul>
      <li>une combinaison avec les Données de Navigation ou autres informations pertinentes en possession de RECIPY, strictement nécessaire à la réalisation des finalités de traitement vous concernant ;</li>
      <li>un profilage, à des fins de personnalisation/recommandation de contenus et de publicités ciblés. À ce titre, nous vous informons que nous analysons les données que vous nous fournissez ou que vous générez dans le cadre de l'utilisation de nos divers Services, afin de bâtir des profils (segments) correspondant à vos centres d’intérêts.</li>
    </ul>

    <h4>8.2. Prospection par courrier électronique</h4>
    <p>Lors de la création de votre Compte Utilisateur et/ou lors de l’utilisation de certains Services, disponibles sur nos Sites et/ou Applications, vous avez le choix de nous donner votre consentement, en renseignant vos préférences quant à la réception de courriers électroniques relatifs à :</p>
    <ul>
      <li>des offres ciblées et actualités de RECIPY ;</li>
    </ul>
    <p>Si vous avez souhaité recevoir des messages de prospection directe, par courrier électronique, de la part de RECIPY et/ou de ses Partenaires, vous pouvez retirer, à tout moment, votre consentement :</p>
    <ul>
      <li>En décochant la ou les case(s) afférente(s) dans votre Compte Utilisateur, section « Mes paramètres » puis « MES ABONNEMENTS AUX NEWSLETTERS » ; ou</li>
      <li>En cliquant sur le lien hypertexte de désinscription fourni dans chacune de nos communications ; ou</li>
      <li>En adressant votre demande par email à <a href="mailto:recipyhq@gmail.com">recipyhq@gmail.com</a></li>
    </ul>
    <p>Nous vous informons qu’il est dans notre intérêt légitime, conformément à l’article L.34-5 du Code des Postes et Communications Électroniques, de vous envoyer des courriers électroniques, de notre part, dans les hypothèses suivantes :</p>
    <ul>
      <li>L’information et la communication de mise à jour substantielle des Conditions Générales d’Utilisation de nos Services et/ou de la Politique de Protection des Données ;</li>
      <li>L’envoi de newsletters auxquelles vous avez souscrites ou autres courriers électroniques concernant des produits et/ou services analogues à ceux que nous vous avons fournis par l’intermédiaire de nos Services, Sites et/ou Applications. Dans cette hypothèse, vous pourrez manifester votre opposition à la réception de ces sollicitations :</li>
      <li>
        <ul>
          <li>En cochant la ou les case(s) afférente(s) dans votre Compte Utilisateur, section « Mes paramètres » puis « MES ABONNEMENTS AUX NEWSLETTERS » ; ou</li>
          <li>En cliquant sur le lien hypertexte de désinscription fourni dans chacune de nos communications ; ou</li>
          <li>En adressant votre demande par email à <a href="mailto:recipyhq@gmail.com">recipyhq@gmail.com</a></li>
        </ul>
      </li>
    </ul>

    <h3 id="p9">9. Transfert de vos Données Personnelles</h3>
    <p>RECIPY ne transfère aucune donnée personnelle. Dans le cas d’une fermeture des services/applications proposés par RECIPY, les données personnelles seront supprimées.</p>

    <h3 id="p10">10. Vos droits​</h3>
    <p>Vous disposez d’un droit de retirer votre consentement à tout moment, d’un droit à la portabilité de vos données, ainsi que de droits d’accès, rectification, effacement, limitation, opposition et du droit de définir des directives relatives au sort de vos données en cas de décès.</p>

    <h4>10.1. Contact</h4>
    <p>Vous pouvez exercer vos droits :</p>
    <ul>
      <li>En adressant votre demande par email à <a href="mailto:recipyhq@gmail.com">recipyhq@gmail.com</a></li>
    </ul>

    <h4>10.2. Documents justificatifs</h4>
    <p>En application des dispositions du décret n°2007-451 du 25 mars 2007 portant modification du décret n°2005-1309 du 20 octobre 2005 pris pour l’application de la loi n°78-17 du 6 janvier 1078 relative à l’informatique, aux fichiers et aux libertés, votre demande d’exercice de l’un de vos droits devra être accompagnée de la photocopie d’un titre d’identité portant la signature du titulaire. Votre demande devra également préciser l’adresse à laquelle la réponse devra parvenir. Afin de pouvoir identifier votre Compte Utilisateur, nous vous invitons à nous indiquer l’adresse email grâce à laquelle vous avez créé votre Compte Utilisateur. Nous disposerons alors d’un délai d’un (1) mois suivant la réception de la demande pour vous répondre. Ce délai peut être prolongé de deux (2) mois compte tenu de la complexité et du nombre de demandes. Ces droits ne sont pas absolus : vous pouvez les exercer dans le cadre légal prévu et dans les limites de ces droits. Dans certains cas nous ne pourrons pas répondre favorablement à votre demande (obligation légale, respect de nos engagements envers vous, ...). Si c’est le cas, nous vous communiquerons la ou les raisons de ce refus.</p>

    <h4>10.3. Droits d’accès, de rectification ou d’effacement</h4>
    <p>En tant que créateur d’un Compte Utilisateur, vous pouvez accéder aux Données Personnelles que nous avons collectées directement auprès de vous afin de les rectifier, compléter ou effacer toute information inexacte en :</p>
    <ul>
      <li>Vous connectant directement dans votre Compte Utilisateur, section « Editer mon profil » : modifiez les informations inexactes/incomplètes puis enregistrez les modifications ;</li>
      <li>Nous contactant directement au(x) adresse(s) email et/ou postale indiquées ci-dessus en article 10.1</li>
    </ul>
    <p>Vous pouvez décider de clôturer votre Compte Utilisateur, à tout moment, en vous connectant à celui-ci, section « Modifier mes informations personnelles » : « Si vous souhaitez supprimer votre compte cliquez ici ». Vous disposez d’un droit à l’effacement de vos Données Personnelles, lorsque :</p>
    <ul>
      <li>Celles-ci ne sont plus nécessaires au regard des finalités pour lesquelles elles ont été collectées ou traitées ; ou</li>
      <li>Vous avez retiré votre consentement pour ce traitement de Données Personnelles et il n’existe pas d’autre fondement juridique au traitement ; ou</li>
      <li>Vous vous êtes opposé à ce traitement et il n’existe aucun motif légitime impérieux justifiant ce traitement ; ou</li>
      <li>Les Données Personnelles doivent être effacées pour respecter une obligation légale, prévue par la législation de l’Union européenne ou des États membres, à laquelle RECIPY est soumis ; ou</li>
      <li>Les Données Personnelles ont été collectées dans le cadre de la fourniture des Services auxquels vous avez souscrits</li>
    </ul>

    <h4>10.4. Droit à la limitation du traitement</h4>
    <p>Vous disposez d’un droit d’obtenir la limitation du traitement lorsque l’une des conditions suivantes s’applique :</p>
    <ul>
      <li>Vous contestez l’exactitude des Données Personnelles ; ou</li>
      <li>Le traitement est illicite et vous vous opposez à l’effacement de vos Données Personnelles et demandez plutôt la limitation de leur utilisation ; ou</li>
      <li>RECIPY n’a plus besoin des Données Personnelles aux fins du traitement, mais elles sont requises par vous pour l’établissement, l’exercice ou la défense de vos droits ; ou</li>
      <li>Vous vous êtes opposé au traitement et une vérification doit être effectuée afin de savoir si les motifs légitimes de RECIPY l’emportent sur les vôtres.</li>
    </ul>

    <h4>10.5. Droit de retirer votre consentement à tout moment</h4>
    <p>
      Vous pouvez retirer votre consentement, à tout moment, selon les modalités décrites à l’article 8.2, au traitement de vos Données Personnelles, à des fins de prospection directe pour des produits et/ou services non-analogues à ceux que nous vous avons fournis par l’intermédiaire de nos Services, Sites et/ou Applications.
    </p>

    <h4>10.6. Droit d’opposition au traitement de vos Données Personnelles</h4>
    <p>Vous pouvez exercer votre droit d’opposition, à tout moment, au profilage de vos Données Personnelles, à des fins de publicité ciblée, en :</p>
    <ul>
      <li>vous rendant dans votre Compte Utilisateur, section « Modifier mes informations personnelles » et en cochant la case suivante : « Je ne souhaite plus que mes données soient collectées et traitées dans le cadre de profilage à des fins de publicité ciblée ».</li>
      <li>en adressant votre demande par email à <a href="mailto:recipyhq@gmail.com">recipyhq@gmail.com</a></li>
    </ul>
    <p>Dans l’hypothèse où vous vous exposeriez au profilage de vos Données Personnelles, nous vous informons que vous continuerez à être destinataire de publicité mais que celle-ci ne sera pas adaptée à votre profil et vos centres d’intérêts.</p>

    <h4>10.7. Droit à la portabilité de vos Données Personnelles</h4>
    <p>Vous disposez du droit à la portabilité de vos Données Personnelles, c’est-à-dire de recevoir les Données Personnelles que vous nous avez fournies, dans un format structuré, couramment utilisé et lisible par machine et de les transmettre à un autre responsable de traitement. Pour exercer votre droit à la portabilité de vos Données Personnelles, nous vous invitons à nous adressant votre demande par email à <a href="mailto:recipyhq@gmail.com">recipyhq@gmail.com</a></p>

    <h4>10.8. Droit d’introduire une réclamation auprès de l’autorité de contrôle compétente</h4>
    <p>En cas de difficultés, vous disposez du droit d’introduire une réclamation auprès de la CNIL : <a href="https://www.cnil.fr/fr/plaintes">https://www.cnil.fr/fr/plaintes</a></p>

    <h4>10.9. Directives relatives au sort de vos Données Personnelles après votre décès</h4>
    <p>Vous disposez du droit de définir des directives relatives au sort de vos Données Personnelles après votre décès. Pour exercer ce droit, nous vous invitons à nous adresser un email à <a href="mailto:recipyhq@gmail.com">recipyhq@gmail.com</a> :</p>
    <ul>
      <li>ayant pour objet « Directives relatives au sort de mes Données Personnelles après mon décès » ;</li>
      <li>nous indiquer l’adresse email grâce à laquelle vous avez créé votre Compte Utilisateur ;</li>
      <li>nous indiquer la(es) personne(s) pouvant agir auprès de nous dans l’hypothèse de votre décès, ainsi que les instructions que vous souhaitez que nous respections.</li>
    </ul>
    <p>Dans l’hypothèse où un Utilisateur décède sans avoir laissé de directives relatives au sort de ses Données Personnelles après son décès, les héritiers de celui-ci peuvent demander à clôturer le Compte Utilisateur du défunt, en nous contactant par email à <a href="mailto:recipyhq@gmail.com">recipyhq@gmail.com</a></p>
  </div>
</div>
<%= render 'landing_pages/shared/footer' %>
