<% if Rails.env.production? %>
  <div class="uk-margin-small uk-text-center">
    <%= link_to user_facebook_omniauth_authorize_path, class: 'uk-button uk-button-primary uk-width-1-1 uk-flex uk-flex-middle' do %>
      <span uk-icon="icon: facebook"></span>
      <div class="uk-margin-auto">Connexion avec Facebook</div>
    <% end %>
  </div>

  <div class="uk-margin-small uk-text-center">
    <%= link_to user_twitter_omniauth_authorize_path, class: 'uk-button uk-button-primary uk-width-1-1 uk-flex uk-flex-middle' do %>
      <span uk-icon="icon: twitter"></span>
      <div class="uk-margin-auto">Connexion avec Twitter</div>
    <% end %>
  </div>

  <div class="uk-margin-small uk-text-center">
    <%= link_to user_google_oauth2_omniauth_authorize_path, class: 'uk-button uk-button-primary uk-width-1-1 uk-flex uk-flex-middle' do %>
      <span uk-icon="icon: google" class="uk-margin-small-right"></span>
      <div class="uk-margin-auto">Connexion avec Google</div>
    <% end %>
  </div>
<% end %>
