<div class="">
  <div class="">
    <h2 class="uk-text-center"><%= t("recipe.title.edit") %></h2>

    <% if @recipe.user != current_user %>
      <% Bullet.enable = false %>
      <div class="uk-position-bottom-center uk-position-relative">
        <div class="uk-text-center">
          <span class="uk-text-lead"><%= t("recipe.edit.wrong_user") %></span>
        </div>
      </div>
    <% else %>

      <%= render 'edit_form', recipe: @recipe %>

    <% end %>
  </div>
</div>
