<h1><%= t("recipe.title.new") %></h1>
<% if flash[:danger] %>
  <div class="uk-alert-danger" uk-alert>
    <a class="uk-alert-close" uk-close></a>
    <p><%= flash[:danger] %></p>
  </div>
  <%end %>

<%= render 'form', recipe: @recipe %>

<%= link_to t("recipe.action.back"), recipes_path %>
