<h3 class="uk-margin-medium-left">
  <span class="uk-margin-small-right" uk-icon="icon: settings; ratio: 2"></span><%= t('users.pref.title') %>
</h3>

<div>
  <%= render 'edit_like_ingredient' %>
</div>

