/*
** colors
*/
$recipy-default-color:  #FBFBFB;
$recipy-primary-color:  #FF9A3B;
$recipy-secondary-color:  #3C3C3C;
$recipy-tertiary-color-clear: #474747;
$recipy-tertiary-color-medium: #424242;

/*
** navbar
*/
$navbar-logo-height: 45px;

/*
** Notification
*/
$recipy-notification-content: #2c3e50;
$recipy-notification-default: #bdc3c7;
$recipy-notification-alert: #f1c40f;
$recipy-notification-notice: #3498db;
$recipy-notification-success: #2ecc71;
$recipy-notification-error: #e74c3c;
$recipy-notification-shadow: #2c3e50;