<div class="notification-wrapper">
  <% flash.each do |key, value| %>
    <% if value != true && value.kind_of?(String) %>
      <div class="notification <%= key %>" id="notification">
        <%= value %>
      </div>
    <% end %>
  <% end %>
</div>
