.wallpaper-edit {
  background-image: url(asset-path('registration_edit/back_registration_edit.jpg'));
}

.recipy-button {
  background-color: $recipy-primary-color;
}

.recipy-title {
  color: $recipy-primary-color;
}
