<div class="uk-container uk-padding">
  <div class="uk-width-xxlarge uk-align-center">
    <h2 class="title">Nouvelle liste de courses</h2>

    <%= render 'form', shopping_list: @shopping_list %>

    <%= link_to t('shopping_list.go_back'), shopping_lists_path %>
  </div>
</div>
