
<div class="uk-margin-small uk-text-center">
  <h1>Liste des producers</h1>
  <% @users.each do |user| %>
    <li><%= link_to user.first_name + " " + user.last_name, show_producer_path(user.id)%></li>
  <% end %>
</div>
