<div class="uk-container uk-padding">
    <h2 class="title"><%= t('producer.new.welcome') %></h2>

    <%= simple_form_for(@user, url: createproducer_path) do |f| %>

      <%#= f.input :first_name, required: true, autofocus: true %>
      <%#= f.input :last_name, required: true, autofocus: true %>
      <%= f.input :bio, as: :text, label: "Parlez-nous un peu de votre activité...", input_html: {style: "height: 200px",class: "uk-textarea textarea", rows: "5"}, input_class: false %>


      <div class="uk-margin-medium">
        <%= f.button :submit, "Valider", class: 'uk-width-1-1 button-sign-in' %>
      </div>
    <% end %>
</div>
