<div class="uk-container uk-padding">
  <h1 class="title"><%= t("products.title") %></h1>

  <%= render 'form_new', product: @product %>

  <%= link_to t("recipe.action.back"), show_producer_path(current_user.id) %>
</div>
