.wallpaper {
  background-image: url( asset-path("password_new/back_password_new.jpg"));
}

.action_button {
  background-color: $recipy-primary-color;
}

.action_title {
  color: $recipy-primary-color;
}
