.wallpaper {
  background-image: url( asset-path("confirmation_new/churros.jpeg"));
}

.action_button {
  background-color: $recipy-primary-color;
}

.action_title {
  color: $recipy-primary-color;
}
